<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  <span class="left-menu-labels" *ngIf="isExpanded">{{item.displayName}}</span>
  <span fxFlex *ngIf="item.submenus && item.submenus.length && isExpanded">
    <span fxFlex></span>
    <mat-icon class="routeIcon" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded && isExpanded">
  <app-menu-list-item *ngFor="let child of item.submenus" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
