.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin: 24px;
}

.fx-payment-button-div {
  margin: 24px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
  background-color: inherit;
}

