.fx-make-payment-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.fx-make-payment-left {
  flex: 1;
  padding-right: 12px;
  flex-direction: row; /*column*/
}

.fx-make-payment-right {
  flex: 1;
  padding-left: 12px;
  flex-direction: row; /*column*/
}

.line-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.line-div > div {
  flex: 1;
}

.fx-make-payment-left .fx-make-payment-right p {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

.fx-make-payment-buttons {
  /*justify-content: flex-end;*/
  align-items: center;
}

.fx-make-payment-button-left {
  justify-content: flex-start;
  align-items: center;
}

.fx-make-payment-button-right {
  justify-content: flex-end;
  align-items: center;
}

