<div class="login_container">
  <div>
    <mat-toolbar>
      <span>{{loginDescription}}</span>

      <span class="fill-remaining-space"></span>

    </mat-toolbar>
  </div>
  <div>
    <app-alerts></app-alerts>
  </div>
  <div class="login_form_container">
    <form class="input-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="loginForm.controls.emailFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <!-- <input matInput placeholder="Course Description" formControlName="description"> -->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [formControl]="loginForm.controls.passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <!--<textarea matInput placeholder="Description" formControlName="longDescription"></textarea>-->
        </mat-form-field>
      </div>
      <div class="login_form_buttons">
        <div class="login_form_button_login">
          <mat-dialog-actions>
            <button [disabled]="loading" mat-raised-button color="warn" type="submit">Login</button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </mat-dialog-actions>
        </div>
        <div class="login_form_button_signup">
          <p>Don's have an account? </p><a [routerLink]="['/register']">Sign Up</a>
        </div>
      </div>

    </form>
  </div>


</div>
