.mat-toolbar {
  background: rgb(30, 30, 30)!important;
  color: rgb(217, 217, 217)!important;
}
.mat-toolbar a:hover {
  background-color: rgba(60, 60, 60, 1);
  color: #FFF;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.material-icons.md-24 { font-size: 24px; }

.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  background-color: rgba(60, 60, 60, 1);
  color: rgb(217, 217, 217);
}

.mat-nav-list {
  width: 250px;
}

.mat-nav-list a {
  padding-left: 10px;
}

.mat-list-item {
  color: rgb(217, 217, 217);
  &:hover {
    background: rgb(30, 30, 30);
    color: #FFF;
  }
  font-size: 14px;
  font-weight: 300;
}


.mat-list-item-content a:hover {
  color: #FFF;
}

.mat-list-item .mat-icon {
  margin: 10px;
  color: rgb(217, 217, 217);
}

.mat-divider {
  color: #FFF;
}

.mat-expansion-panel-header {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 300;
}

.mat-expansion-panel-header:hover {
  background-color: #1e1e1e !important;
  color: #FFF !important;
}

.mat-expansion-panel {
  background-color: #3c3c3c;
  color: #d9d9d9;
  border-bottom: 1px solid #333333;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.username {
  padding: 15px;
}



