<div class="menu-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="menu-toolbar">
    <div class="menu_toolbar_logo">
      <div [appShowAuth]="true">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><h1 class="logo">Connectica</h1></div>
    </div>
    <div class="menu_toolbar_fill-remaining-space"></div>
    <div class="menu_toolbar_right">
      <div class="menu_toolbar_right_notifications" [appShowAuth]="true" routerLink="/about"
           routerLinkActive="active">
        <i class="material-icons">notifications</i>
      </div>
      <div class="menu_toolbar_right_login_signup" [appShowAuth]="false">
        <div><a mat-button routerLink="/login" routerLinkActive="active">Log In</a></div>
        <div><a mat-button mat-raised-button color="warn" routerLink="/register" routerLinkActive="active">Sign Up</a>
        </div>
      </div>
      <div [appShowAuth]="true" *ngIf="isLoggedIn">{{user.firstName}} {{user.lastName}}</div>
      <div class="menu_toolbar_right_user_login" [appShowAuth]="true">
        <a mat-button mat-raised-button color="warn" routerLink="/login" (click)="logout()" routerLinkActive="active">Logout</a>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container [autosize]="true">
    <mat-sidenav [appShowAuth]="true" #snav mode="side" opened={{isLoggedIn}} [fixedInViewport]="fixed" [ngStyle]="{ 'width.em': sidenavWidth }"
                 [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">
      <mat-nav-list>
        <app-menu-list-item *ngFor="let item of navItems" [item]="item" (messageEvent)="expandCollapse($event)"></app-menu-list-item>
        <a mat-list-item  (click)="expandCollapse( false )">
          <mat-icon class="routeIcon" *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon class="routeIcon" *ngIf="isExpanded">chevron_left</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-alerts></app-alerts>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

