.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-toolbar {
  display: flex!important;
  background: rgb(30, 30, 30)!important;
  color: rgb(217, 217, 217)!important;
}
.menu-toolbar a:hover {
  background-color: rgba(60, 60, 60, 1);
  color: #FFF;
}

.menu_toolbar_logo {
  display: flex;
}

.logo {
  font-family: Lobster!important;
  font-size: 25px!important;
}

.menu_toolbar_logo > div {
  flex: 1;
  align-self: center;
}

.menu_toolbar_fill-remaining-space {
  flex: 5;
}

.menu_toolbar_right {
  display: flex;
}

.menu_toolbar_right > div {
  flex: 1;
  align-self: center;
  padding: 0 5px 0 5px;
}

.menu_toolbar_right_notifications {
  flex: 1;
  cursor: pointer;
}

.menu_toolbar_right_login_signup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.menu_toolbar_right_login_signup > div {
  flex: 1;
  padding: 0 5px 0 5px;
}

// ----------------------- LEFT MENU -------------------------------

$app-primary: red;

.menu-side-navigation {
  //width: 360px;
  background-color: rgba(60, 60, 60, 1);
  color: rgb(217, 217, 217);
}



.mat-sidenav-container {
  // background-color: white !important;
  height: 100vh;
}
/*
.mat-sidenav-content {
  // height: 100%!important;
}
*/
.demo-content {
  width: 100%;
  height: 100vh;
  padding-bottom: 5px;
  //height: -webkit-fill-available;
  box-sizing: border-box;
  overflow: auto;
}

.sidenav-toolbar {
  //height: 64px;
  background-color: #f44336;
  display: flex;
  flex-direction: row;
}

.mat-nav-list {
  padding-top: 0;
}

.menu-expansion-button {
  // padding: 8px 0;

  .routeIcon {
    margin-right: 10px;
    color: #ffffff;
  }

  &:hover,
  &:focus {

    background-color: #f44336 !important;
    color: #FFF;
    .routeIcon {
      color: #FFF;
    }
  }
}

.menu-expansion-button:hover .routeIcon {
  background-color: #f44336 !important;
  color: #FFF;
}


.username {
  padding: 15px;
}



