<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="invoice">
      <mat-header-cell *matHeaderCellDef> Invoice </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.buyerName}}: {{element.invoice}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dueDate | date}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="invoiceValue">
      <mat-header-cell *matHeaderCellDef> Invoice Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invoiceValue | currency: element.currency}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" [disabled]="!element.active" (click)="buttonClick(element)">{{element.status}}</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
