<mat-toolbar>
  <span>Invoices</span>

  <span class="fill-remaining-space"></span>

</mat-toolbar>

<div class="container mat-elevation-z0">
<div class="george">
  <mat-card class="dashboard-card mat-elevation-z8 border-top-lila">
    <mat-card-header>
      <mat-card-title class="dashboard-card-title">
        Financeable Items
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="line-div">
        <div><p class=grey>Finaceable Amount:</p></div>
        <div class="font20">12.805,67 €</div>
      </div>
      <div class="line-div">
        <div>
          <p class=grey>Number of invoices</p>
        </div>
        <div class="font20">
          4
        </div>
      </div>
      <div class="line-div">
          <button mat-raised-button color="primary">Finance All</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="dashboard-card mat-elevation-z8 border-top-orange">
    <mat-card-header>
      <mat-card-title class="dashboard-card-title">
        Total Items
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="line-div">
        <div><p class=grey>Total Amount:</p></div>
        <div class="font20">32.452,67 €</div>
      </div>
      <div class="line-div">
        <div>
          <p class=grey>Number of invoices</p>
        </div>
        <div class="font20">
          18
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div></div>
  <div></div>
</div>
</div>

<div class="container mat-elevation-z8">
  <div class="line-div invoices-table-header">Finance individual invoices</div>
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="checkb">
      <mat-cell *matCellDef="let element">
          <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
      </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="invoice">
      <mat-header-cell *matHeaderCellDef> Invoice </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="insideCellWrap">
        <div><p class="bld">{{element.buyerName}}</p></div>
        <div class=grey>Invoice: {{element.invoice}}</div>
      </div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dueDate | date}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="invoiceValue">
      <mat-header-cell *matHeaderCellDef> Invoice Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invoiceValue | currency: element.currency}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" [disabled]="!element.active" (click)="buttonClick(element)">{{element.status}}</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
