<!--
  TODO: JUST a demo of carousel for navigating thru contracts
  image will be changed to actual contract template
  inline css will be removed
  material design will be implemented
-->
<div style="margin: 30px auto;">
  <ui-carousel #uiCarousel [infinite]="false" [fade]="false" [speed]="500" height="800px" width="80%" [dots]="false">
    <ui-carousel-item>
      <div style="width: 40%; padding: 60px; margin: 0 auto;display:inline-flex">
        <img style="height: 100%;" src="/assets/images/open-contract.PNG" />
      </div>
      <div style="width: 40%; padding: 60px; margin: 0 auto;display:inline-flex">
        <img style="height: 100%;" src="/assets/images/open-contract.PNG" />
      </div>
    </ui-carousel-item>
    <ui-carousel-item>
      <div style="width: 40%; padding: 60px; margin: 0 auto;display:inline-flex">
        <img style="height: 100%;" src="/assets/images/open-contract.PNG" />
      </div>
      <div style="width: 40%; padding: 60px; margin: 0 auto;display:inline-flex">
        <img style="height: 100%;" src="/assets/images/open-contract.PNG" />
      </div>
    </ui-carousel-item>   
  </ui-carousel>
</div>
