:host {
  display: flex;
  flex: 1;
}

.dashboard-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
  padding: 0 10px 0 10px !important;
}

/*.dashboard-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}*/

.dashboard-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 500;


}

::ng-deep div.mat-card-header-text {
  /* CSS styles go here */
  flex: 1;
  margin: 0px; // for example to remove the margin
}

.dashboard-card-title-link {
  flex: 4 1 auto;
}

.dashboard-card-title-link > a {
  color: #f44336;
  text-decoration: none;
}

.dashboard-card-title-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/*
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
*/

.line-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.line-div > div {
  flex: 1;
}

p {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}


/* */

.border-top-lila{
  border-top: 5px solid;
  border-top-color: rgb(158, 164, 196)!important;
}

.border-top-orange{
  border-top: 5px solid;
  border-top-color: #fc930A!important;
}

.border-top-green{
  border-top: 5px solid;
  border-top-color: #53AD57!important;
}

.border-top-yellow{
  border-top: 5px solid;
  border-top-color: #FD9D18!important;
}

.border-top-brightlila{
  border-top: 5px solid;
  border-top-color: #952dae!important;
}

.font16{
  font-size: 16px;
}

.font20{
  font-size: 22px;
}

.font30{
  font-size: 30px;
}

.weight500{
  font-weight: 500;
}

.bld{
  font-weight: 700;
}

.grey{
  color: #808080;
}
