<div class="d-flex">
    <div class="d-flex flex-row">
      <div class="p-2">
        <section class="mat-typography">
          <h1>Consignment Order</h1>
          <h6>Consignment Order Online</h6>
        </section>
      </div>
      <div class="p-2">
        <section class="mat-typography">
          <h4>Document Number</h4>
          <h2>1013012103</h2>
        </section>
      </div>
      <div class="p-2">
      </div>
    </div>
  </div>
  <section class="mat-typography">
    <h4>Sender</h4>
    <h2>BAHAG Webedi</h2>
  </section>
  <section class="mat-typography">
    <h4>Document date</h4>
    <h2>15.04.2015</h2>
  </section>
  <div class="fields-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  </div>