.messages-main-div {
  display: flex;
  margin: 10px;
}

.messages-left-div {
  flex: 30%;
  margin-right: 5px;
}

.messages_nav_list {
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}

.messages_nav_list_toolbar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.messages_list_toolbar {
  display: flex;
  flex: 1;
  padding: 15px;
  height: auto;
  max-height: 150px;
  align-items: center;
  flex-direction: row;
}

.messages_list_toolbar_search_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages_list_toolbar_fill_remaining_space {
  flex: 1 1 auto;
}
////////////////////////// MAT LIST ITEM /////////////////////////////////
.messages_list_item {
  display: flex!important;
  flex-direction: row;
  height: 100px!important;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  &:hover {
    cursor: pointer;
  }
}

::ng-deep div.mat-list-item-content {
  flex: 1;
}

/*
.transaction_list_item_div {
  display: flex;
  flex-direction: row;
}
*/

.messages_list_item_description {
  flex: 3;
}

.messages_list_item_date {
  flex: 1;
}

.messages_list_item_date > p {
  justify-content: center;
}


// Colors
$gray: #eee;

// Angular
[click] {
  &:hover {
    cursor: pointer;
  }
}

// Main content bg color
mat-content.mat-default-theme {
  background-color: $gray;
}
////////////////////////// MAT LIST ITEM /////////////////////////////////
.mat-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.selected {
  background-color: #D3D3D3;
}

.messages-right-div {
  flex: 70%;
  margin-left: 5px;
}

.message-content {
  padding: 0 10px;
}

// ---------- RIGHT PANE ---------------
.message_details_content {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.message-details-main {
  display: flex;
  flex-direction: row;
}

.message-details-main > div {
  flex: 1;
  font-size: 11px;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  h3 {
    font-size: 14px;
  }
}

.message_details_left_pane {
  flex: 2;
}

.message_details_right_pane {
  flex: 1;
}

.message_details_sections {
  display: flex;
}

.message_details_sections > div {
  flex: 1;
}

.message-total-charge {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: right;
  margin: 10px 0 10px;
}

.message_details_footer {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

// ---------- RIPPLE EFFECT ---------------

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0)
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s
}
