.alerts {
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  display: flex;
  flex-direction: row;
  color: #fff;
  height: 60px;
  padding: 0;
  margin: 0.5em;
}


.first-div {
  padding: 15px 20px;
  border-radius: 8px 0 0 8px;
  display: flex;

}

.first-div i {
  align-self: center;
  font-size: 24px;
}

.second-div {
  flex: 1;
  color: #fff;
  background-color: #3c3c3c;
  border-radius: 0 8px 8px 0;
  display: flex;
}

.second-div p {
  align-self: center;
  margin-left: 1em;
}

.first-div-success {
  border: 1px solid #1b7e28;
  background-color: #1b7e28;
}

.first-div-error {
  border: 1px solid #cf2a2a;
  background-color: #cf2a2a;
}

.first-div-info {
  border: 1px solid #0574ac;
  background-color: #0574ac;
}

