.transactions_container {
  display: flex;
}

.transactions_list_container {
  flex: 1;
  margin: 8px 8px 15px 15px;
}

.transactions_list_details_container {
  flex: 3;
  margin: 8px 15px 15px 8px;
  padding: 10px;
}

.transactions_nav_list {
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}

.transactions_nav_list_toolbar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.transactions_list_toolbar {
  display: flex;
  flex: 1;
  padding: 15px;
  height: auto;
  max-height: 150px;
  align-items: center;
  flex-direction: row;
}

.transactions_list_toolbar_search_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions_list_toolbar_fill_remaining_space {
  flex: 1 1 auto;
}

/*
::ng-deep .mat-nav-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-item .mat-list-item-content {
  width: 100% !important;
  padding: 0 8px;
}
*/
.transactions_list_item {
  display: flex!important;
  flex-direction: row;
  height: 100px!important;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  &:hover {
    cursor: pointer;
  }
}

::ng-deep div.mat-list-item-content {
  flex: 1;
}

/*
.transaction_list_item_div {
  display: flex;
  flex-direction: row;
}
*/

.transactions_list_item_description {
  flex: 3;
}

.transactions_list_item_date {
  flex: 1;
}

.transactions_list_item_date > p {
  justify-content: center;
}


// Colors
$gray: #eee;

// Angular
[click] {
  &:hover {
    cursor: pointer;
  }
}

// Main content bg color
mat-content.mat-default-theme {
  background-color: $gray;
}




