<div class="transactions_container">
  <div class="transactions_list_container mat-elevation-z8">
    <mat-nav-list class="transactions_nav_list">
      <mat-toolbar class="transactions_nav_list_toolbar">
        <div class="transactions_list_toolbar">
          <div>
            <button class="mat-icon-button" (click)="toggleSidenav('left')" fxHide.gt-md aria-label="Menu">
              <mat-icon svgIcon="menu_icon" aria-label="Menu"></mat-icon>
            </button>
          </div>
          <div>
            <h3 *ngIf="!showSearch">Transactions</h3>
          </div>
          <div class="transactions_list_toolbar_fill_remaining_space"></div>
          <div>
            <button class="mat-icon-button transactions_list_toolbar_search_buttons" aria-label="Search" (click)="toggleSearch()">
              <i *ngIf="!showSearch" class="material-icons">search</i>
              <i *ngIf="showSearch" class="material-icons">arrow_back</i>
            </button>
          </div>
          <div [hidden]="!showSearch">
            <input matInput #searchBox (keyup)="onKeyUp(searchBox.value)" type="search" placeholder="enter search">
          </div>
        </div>
      </mat-toolbar>
      <!-- <h3 matSubheader>Folders</h3> -->
      <mat-list-item class="transactions_list_item" *ngFor="let item of transactions" role="link" (click)="clickedItem(item)">

        <div class="transactions_list_item_description">
          <p>{{item.typeOfOrder}}</p>
          <p>{{item.supplier.supplierName}}</p>
          <p>{{item.orderNumber}}</p>
        </div>
        <div class="transactions_list_item_date">
          <p>{{item.date | date}}</p>
          <p>{{item.deliveryStatus}}</p>
        </div>
        <mat-divider></mat-divider>

      </mat-list-item>
    </mat-nav-list>
  </div>

  <div class="transactions_list_details_container mat-elevation-z8">
      <app-transaction-details [transactionDetails]="selectedItem"></app-transaction-details>
  </div>
</div>
