/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.primary-color {
  color: #3F51B5!important;
}
.accent-color {
  color: #FF4081!important;
}
.background-primary-color {
  background-color: #3F51B5!important;
}
.background-accent-color {
  background-color: #FF4081!important;
}
.white-text {
  color: #FFF!important;
}

.sidenav-container__accordion .mat-expansion-indicator::after {
  color: #d9d9d9 !important;
}

.ui-carousel-item {
  background: none !important;
}
.arrow::before, .arrow::after {
  background: #3c3c3c !important;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
