<mat-toolbar>
  <span>Manage Contracts</span>

  <span class="fill-remaining-space"></span>

</mat-toolbar>
<div class="manage_contracts_container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="circle" [ngStyle]="{'color': element.color}"><img/></div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="documentDate">
      <mat-header-cell *matHeaderCellDef> Document Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.documentDate | date}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="partner">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.partner}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="download">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span (click)="buttonClick(element)"><i class="material-icons">get_app</i></span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
